#Header{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	background-color: red;
}
#Header h1{
	font-family: verdana;
	font-size: 40px;
	font-weight: bold;
}

#corner{
	border-radius: 15px 50px 30px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
	height: 150px;
	
}

#para{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border:solid 8px black;
	text-align: center;
	background-color: red;
	
}


.picture{
	width: 400px;
	margin-left:auto;
	margin-right: auto;
	margin-bottom:10px;
	border: solid 8px blue;
	border-right-color: red;
	border-left-color: red;
	float: left;
	text-align: center;
	padding-bottom: 8px;
	background-color: red;

}
.text {
	position:absolute;
	top:30px;

}


p{
	font-weight: bold;
	font-family: arial;
	color: blue;
}








